@page "/"

<PageTitle>Home</PageTitle>

<h1 class="mb-4">Quick reference to Circle of Influence!</h1>
<p>Based on the highly influential book "The 7 habits of highly effective people"</p>

<div class="form-group">
    <h3 for="concern">What are you concerned about?</h3>
    <textarea id="concern" class="form-control" @bind="concernText"></textarea>
</div>
<div class="form-group d-flex justify-content-between mb-4 mt-2 maxWidth"> 
    <h3>Can you influence it?</h3>
    <button class="btn @(hasInfluence ? "btn-success" : "btn-danger")" @onclick="ToggleInfluence">@influenceButtonText</button>

</div>
@if(hasInfluence){
    <div class="form-group mb-4">
        <h4 for="concern">What can you do to influence it?</h4>
        <textarea id="concern" class="form-control" @bind="influenceText"></textarea>
    </div>
}
<div class="form-group d-flex justify-content-between mb-4 maxWidth">
    <h3>Can you control it?</h3>
    <button class="btn @(hasControl ? "btn-success" : "btn-danger")" @onclick="ToggleControl">@controlButtonText</button>
</div>
    @if(hasControl){
        <div class="form-group mb-4">
            <h4 for="concern">What can you do to control it?</h4>
            <textarea id="concern" class="form-control" @bind="controlText"></textarea>
        </div>
    }

@if (!string.IsNullOrWhiteSpace(concernText))
{
    <div>
        <h2>@positionCircleOfInfluence</h2>
        <p>@explanation</p> 
        <p>Source: <a href="https://positivepsychology.com/circles-of-influence/">Visit PositivePsychology for more information about the Circle of influence</a></p>
    </div>

    <div class="circle big custom-border @(!hasInfluence && !hasControl ? "" : "big-light")">
        <p class="circle-text circle-text-big">Concern</p>
        
        <div class="circle medium @(hasInfluence && !hasControl ? "" : "medium-light")">
            <p class="circle-text circle-text-medium">Influence</p>
            
            <div class="circle small @(hasControl ? "" : "small-light")">
                <p class="circle-text">Control</p>
            </div>
        </div>
    </div>
}


@code {
    private bool hasInfluence = false;
    private bool hasControl = false;
    private string concernText = string.Empty;
    private string influenceText = string.Empty;
    private string controlText = string.Empty;

    private string influenceButtonText => hasInfluence ? "Yes" : "No";
    private string controlButtonText => hasControl ? "Yes" : "No";

    private string positionCircleOfInfluence = "You are in the Circle of Concern";
    private string explanation = "The circle of concern. This circle encompasses a broader range of external factors, challenges, and circumstances that we may care about but which are clearly beyond our control.";

    private void ToggleInfluence()
    {
        hasInfluence = !hasInfluence;
        ChangePositionCircleOfInfluence();
    }

    private void ToggleControl()
    {
        hasControl = !hasControl;
        ChangePositionCircleOfInfluence();
    }

    private void ChangePositionCircleOfInfluence()
    {
        if(hasControl){
            positionCircleOfInfluence = "You are in the Circle of Control";
            explanation = "Circle of control, representing aspects of our life over which we have direct control. It is the sphere in which we can effect change. The circle of control symbolizes the areas where we can take meaningful action and make a positive difference.";
        } 
        else if(hasInfluence){
            positionCircleOfInfluence = "You are in the Circle of Influence";
            explanation = "The circle of influence, representing the intersection of factors within our immediate control and those that fall outside of our area of control.";
        }
        else {
            positionCircleOfInfluence = "You are in the Circle of Concern";
            explanation = "The circle of concern. This circle encompasses a broader range of external factors, challenges, and circumstances that we may care about but which are clearly beyond our control.";
        }
    }
}

